/* header */
.container {
  width: 100%;
  max-width: 1800px;
  position: absolute;
  top:0;
  right: 0;
  z-index: -1;
  filter: blur(100px);
  transition: all 1.5s ease;
}
.loading{
    font-size: 50px;
    font-weight: 900;
    color:rgb(17, 17, 8);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
header {
  font-size: 1.2em;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 1em;
}

header nav .nav-right {
  display: flex;
  align-items: center;
}
header nav .nav-right .menu{
 display: none;
}
header nav .nav-right a {
  color: #444;
  padding: 5px 2px;
  margin: 0px 5px;
  font-size: 1.1em;
}

header nav .nav-left .register {
  /* border: 1px solid #666; */
  padding: 5px 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px 2px #e6e4e4;
  border-right: 6px solid tomato;
  cursor: pointer;
}

header nav .nav-left .register i {
  margin: 7px;
  color: #444;
  font-size: 0.9em;
}

header nav .nav-left .register a {
  color: #444;
  margin: 0px 10px;
  font-size: 0.5em;
}
/* search */
.input{
  width:45%;
  outline: none;
  border: none;
  margin:  0 auto;
  box-shadow: 0px 0px 12px 0px rgb(243, 143, 125) ;
  border-radius: 20px;
  display: none;
  text-align: center;
}


.slider {
  position: relative;
  font-size: 0.8em;
  margin-top: 8px;
}


.slider .sliders .item {
  position: relative;
  display: none;
}

.slider .sliders .item img {
  width: 100%;
 
}
.slider .sliders .item span {
  position: absolute;
  right: 10px;
  top: 8%;
  color: rgb(253, 252, 252);
  font-weight: bold;
}

.slider .sliders .active {
  display: block;
  animation-name: fadein;
  animation-duration: 1s;
}

.slider .btns-slider {
  position: absolute;
  left: 30px;
  top: 75%;
  z-index: 1;
}

.slider .btns-slider i {
  color: white;
  margin: 3px;
  cursor: pointer;
}

.slider .btns-slider i:hover {
  color: rgba(53, 190, 245, 0.7);
}

/* main */
main {
}
main section {
  overflow: hidden;
}
main section .row {
  display: flex;
  /* padding: 0px 10px; */
  flex-direction: column;
}
main section .row .shop-card {
  text-align: center;
  box-shadow: 0px 8px 8px 1px rgba(49, 48, 48, 0.2);
  margin: 10px 5px;
  padding: 10px;
  transition: 1s;
  border-top: 6px solid tomato;
  border-radius: 8px;
}
.shop-card .img {
  position: relative;
}
.shop-card .img .offer {
  background-color: tomato;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 2px;
  top: 10px;
}
.shop-card .img .stars {
  position: absolute;
  color: #f1c40f;
  top: 10px;
  left: 0px;
}
.shop-card .img img {
  width: 35%;
}

.shop-card .title {
  color: #333;
  margin: 15px;
}
.shop-card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-card .buttons .left {
  display: flex;
}
.shop-card .buttons .left .extend-btn {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  padding: 8px 6px;
  border-radius: 50px;
  cursor: pointer;
  transition: 1.5s;
  box-shadow: 0 1px 5px 1px #333;
}

.shop-card .buttons .left .extend-btn .hidden-icon {
  color: tomato;
  padding: 5px;
}
.shop-card .buttons .left .extend-btn:hover {
  width: 100px;
  background: tomato;
}
.shop-card .buttons .left .extend-btn:hover .hidden-text {
  display: block;
  color: rgb(46, 32, 32);
}

.shop-card .buttons .left .extend-btn:hover .hidden-icon {
  color: white;
}
.shop-card .buttons .left .extend-btn .hidden-text {
  display: none;
}

/*secion offer-end */
.row-end {
  padding: 5px;
}
.offer-box {
  box-shadow: 0 1px 20px 0px rgb(235, 169, 169);
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
.offer-box .title {
  background: tomato;
  padding: 8px 30px;
  display: inline-block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.banner {
  box-shadow: 0 1px 5px 1px #333;
}

.row-end-child {
}
.offer-img-chid {
}

.offer-container {
}
.price-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.off-price {
  background: tomato;
  border-radius: 12px;
  color: white;
  padding: 5px 20px;
}
.offer-img-chid img {
  width: 45%;
}
.title-model {
  margin: 30px 0px;
  font-weight: bold;
}
.container-down {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.timer {
  font-weight: bold;
}
.banner {
  display: none;
}

.scroll-bar {
  text-align: center;
  box-shadow: 0px 5px 5px 1px rgba(197, 196, 196, 0.5);
  margin: 10px 5px;
  padding: 10px;
}

.span-scroll {
  position: absolute;
  bottom: -4100px;
  left: 50%;
  font-size: 40px;
  font-weight: bold;
  color: rgb(212, 13, 13);
  cursor: pointer;
}

#btn-rlt:active {
  color: tomato;
}
#btn-lft:active {
  color: tomato;
}
.scroll-bar.active {
  display: block;
}

.scroll-bar.hidden {
  display: none;
}

.row {
  display: flex;

  flex-direction: column;
}
.row-right {
}
.row-left {
  display: flex;
  justify-content: space-around;
}

/*footer */
footer {
  background-image: linear-gradient(
    to left,
    rgb(182, 182, 37),
    rgb(41, 163, 41)
  );
  /* font-size: 0.9em; */

  margin-bottom: 30px;
  border-radius: 7px;
}
footer .bottom {
  text-align: center;
  color: white;
}
.row-right {
  padding: 40px;
}

.row-right .title {
  padding: 10px 0px;
  color: white;
  font-size: 1.1em;
}
.row-right .desc {
  color: white;
  line-height: 2em;
  margin-right: 35px;
}
.row-left titel {

}
.row-left .title {
  padding: 0px 0px;
  color: white;
}

.row-left .social {
  display: flex;
  flex-direction: row;
}

.row-left .social a {
  font-size: 1.4em;
  padding: 0 5px;
}


@media (min-width: 768px) {
  header {
    font-size: 1.2em;
    /* background-color: #f1c40f; */
  }
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 0.9em;
  }
  header nav .nav-right a {
    padding: 5px 2px;
  }
  header nav .nav-left .register {
    padding: 0px 0px;
  }
  header nav .nav-left .register i {
    margin: 7px;
    color: #444;
    font-size: 1.5em;
  }

  header nav .nav-left .register a {
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
  }
  main section .row {
    flex-direction: row;
  }
  .slider .sliders .item span {
    right: 15px;
    top: 20%;
    color: rgb(236, 239, 247);
    font-size: 1.1em;
    font-weight: bold;
  }

  .slider .btns-slider {
    left: 15px;
    top: 90%;
    z-index: 1;
  }
  .slider .btns-slider i {
    font-size: 1.1em;
  }

  .shop-card .img img {
    width: 25%;
  }
  .row-end {
    display: flex;
    justify-content: space-around;
  }

  .offer-box {
    width: 22%;
    margin-left: 8px;
    background: rgb(248, 248, 248);
  }

  .offer-img-chid img {
    width: 40%;
  }
  .offer-container {
    text-align: center;
    padding: 10px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:500px) {
 
header nav .nav-right .menu{
 display: block;
}
header nav .nav-right a {
  padding: 0px 0px;
  margin: 0px 0px;
   font-size: 0.8em;
}
.input{
  display: none;
}
  .menu{
    position: absolute;
    color: rgb(224, 218, 216);
    background-color:tomato;
    z-index: 5;
    border-radius: 50%;
    width:55px;
    height:55px;
    text-align: center;
    right: 9px;
    top:8px;
    font-weight:bold;
    cursor: pointer;
    font-size: 36px;
    transition:2.5s;
  }

  .home{
    position: absolute;
    z-index: 4;
    right:15px;
    top:25px;
    transition: 1s;
  }
  .user{
    position: absolute;
    z-index: 3;
    color: rgb(12, 22, 21);
    right: 15px;
     top:25px;
     transition:2s;
  }
  .buy{
    position: absolute;
    z-index: 2;
    color: rgb(7, 14, 13);
    right:15px;
     top:25px;
     transition: 3s;

  }
  .search{
    position: absolute;
    z-index: 1;
    color: rgb(8, 15, 15);
    right: 15px;
     top:25px;
     transition: 4s;
  }

}
  
