/* header */
header{
font-size: 1.2em;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right{
    display: flex;
    align-items: center;
}

header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .nav-left .register{
 /* border: 1px solid #666; */
 padding: 5px 8px;
 border-radius: 5px;
 display: flex;
 align-items: center;
 box-shadow: 1px 1px 1px 2px #e6e4e4;
}

header nav .nav-left .register i{
margin: 7px;
color:#444;
font-size: 1.1em;

}

header nav .nav-left .register a{
color:#444;
margin: 0px 10px;
font-size: .9em;
}

/* sliders */

.slider{

    position: relative;
    font-size: 1em;
}
/* .slider .sliders{

} */

.slider .sliders .item{

    position: relative;
    display: none;
}

.slider .sliders .item img{
  width: 100%;
}
.slider .sliders .item span{
    position: absolute;
    right: 30px;
    top:42%;
    color: white;
} 

.slider .sliders .active{
display: block;
}

.slider .btns-slider{
    position: absolute;
    left: 30px;
    top:90%;
    z-index: 1;

}

.slider .btns-slider i{
    color:white;
    margin: 3px;
    cursor: pointer;

}

.slider .btns-slider i:hover{
    color: rgba(53, 190, 245, 0.7);
}