.container{
    height: 100vh;
    padding: 30px;
    background-image:linear-gradient(to bottom, rgb(211, 211, 53) , rgb(29, 134, 29));
}
.row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.login-box{
    grid-column:5/9;
}


.login-box{
    box-shadow: 0px 0px 10px 5px rgb(235, 236, 233);
    font-size: .8em;
    background-image:linear-gradient(to bottom, rgb(211, 211, 70) , rgb(29,134,29));
    padding: 50px 35px;
    margin: 25px;
    border-radius: 7px;
}
.input-user{
    margin:40px 0px;
    transition: 1s;
}
.input-user input{
    border: 0;
    background: transparent;
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 59, 41);
    outline: none;
}
.input-user input::placeholder{
    color:white
}
.input-pass input{
    border: 0;
    background: transparent;
    font-size: 20px;
    border-bottom: 1px solid rgb(156,59,41);
    outline: none;
}
.qustion span{
    color:rgb(230, 234, 236);
    font-size:1.5empx;
    cursor: pointer;
}
.btn-enter{
    text-align: center;
}
.btn-enter input{
   text-align: center;
   border:0;
   padding: 7px 40px;
   border-radius:35px;
   background: tomato;
   color: white;
   font-size: 1.5em;
}
.btn-enter span{
    text-align: center;
    border:0;
    padding: 7px 40px;
    border-radius:35px;
    background: tomato;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.input-pass input::placeholder{
color: white;
}
.social{
    display: flex;
    justify-content: center;

}
.social i{
    margin-top: 20px;
    padding:5px 10px;
    font-size: 2em;
}
.regi{
    display: none;
}

.input-email input{
    border: 0;
    background:transparent;
    font-size: 20px;
    border-bottom: 1px solid rgb(156,59,41);
    outline: none;
    margin-top:25px;
}
.input-email input::placeholder{
    color: white;
    }

.regi .btn-enter{
    margin-top:25px ;
}