@font-face {
    font-family: yekan;
    src: url(../fonts/Gandom.ttf);
}
*{
    direction: rtl;
    font-family: yekan;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    margin: 0px;
}

a{
    text-decoration: none;
}
