.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 5px;
    background-image:linear-gradient(to right, rgb(179, 179, 42) , rgb(46, 136, 46));
    height: 100vh;
}
.container-right{
    grid-column: 1/3;
    padding-right: 8px;
}
.container-left{
    grid-column: 3/13;
}
.persons{
    display: flex;
    /* background-color: rgb(175, 250, 175); */
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1px 2px 2px rgb(221, 220, 220);
    margin: 7px;
    padding: 10px 0px;
}
.persons span{
    /* color:rgb(245, 126, 105) */
    color:white
}
.user img{
    width: 48px;
    height: 48px;
    border-radius: 50px;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    padding: 10px 5px;
    margin-top:25px;
    box-shadow: 0 1px 2px 2px rgb(221, 220, 220);
}
.item span , i{
    /* color:rgb(245, 126, 105); */
    cursor: pointer;
    color: white;
}
.container-left header{
    margin: 7px;
    padding: 20px 0px;
}

.item-right{
    position: relative;
}
header .item-right input,a{
    border-radius: 5px;
    outline: none;
    border:0em;
    color: tomato;
}
header .item-right input{
    box-shadow: 0 1px 2px 2px rgb(148, 148, 148);
}
header .item-right a{
    padding: 10px;
    color:tomato
}
.item-right #icon{
    position: absolute;
    left: 5px;
    bottom:5px;
}
.container-left header{
    display: flex;
      justify-content: space-between;
      box-shadow: 0 1px 2px 2px rgb(221, 221, 220);
}
header .item-left a{
    padding: 10px;
    color: rgb(160, 74, 56);
}